.gamja-flower-regular {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: #d91656;
}

#keyBox,
#scoreBox {
  position: absolute;
  left: 3rem;
  bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: fit-content;
  width: fit-content;
}
#scoreBox {
  background-image: url(./img/scoreboard.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 10rem;
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#highscore {
  position: absolute;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  bottom: -5%;
  border-radius: 20px;
  background-color: #a04747;
}
#trophy {
  background-image: url(./img/trophy.png);
  background-size: contain;
  position: absolute;
  right: 0;
  height: 80px;
  width: 80px;
  transform: rotate(10deg);
}
#previousHighscore {
  color: aliceblue;
  font-family: "Gamja Flower";
  font-size: 1.5rem;
  position: relative;
  left: -1rem;
}
.key {
  width: 50px;
  height: 50px;
  background-size: contain;
}
.row {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 5px;
}
#w {
  position: relative;
  left: 55px;
  background-image: url(./img/w.png);
}
#wc {
  position: relative;
  left: 55px;
  background-image: url(./img/wc.png);
}
#a {
  background-image: url(./img/a.png);
}
#ac {
  background-image: url(./img/ac.png);
}
#s {
  background-image: url(./img/s.png);
}
#sc {
  background-image: url(./img/sc.png);
}
#d {
  background-image: url(./img/d.png);
}
#dc {
  background-image: url(./img/dc.png);
}

#playArea {
  width: 1020px;
  height: 600px;
  background-color: #ee66a6;
  border: 5px solid #890c46;
  position: relative;
}
#head,
.body {
  height: 31px;
  width: 31px;
  background-color: #ffeb55;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
}
#head {
  z-index: 100;
}
#foodbox {
  height: 30px;
  width: 30px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#food {
  background-color: #640d5f;
  height: 20px;
  width: 20px;
  border-radius: 100px;
}

.body {
  background-color: rgb(243, 198, 130);
}
